.checkout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ddd;
  padding: 30px;
}
.checkout form {
  width: 60%;
  margin: auto;
}
.checkout form > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.checkout form input {
  height: 40px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;
}
.checkout form button {
  height: 40px;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}
.checkout .close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}